/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    /* fonts */
    --main-font: 'Inter-Variable';
    --main-text-weight: 400;
    --main-title-weight: 700;
    --accent-font: 'Press Start 2P';
    /* colors */
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --btn-hover-text: #FFFFFF;
    /* background */
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #e7e7e7 0px 2px, #1a1a1a 2px 4px);
    /* heart */
    --heart-contour: #000000;
    --heart-fill: #ff0000;
}

:root.theme-dark {
    /* fonts */
    --main-font: 'Inter-Variable';
    --main-text-weight: 465;
    --main-title-weight: 785;
    --accent-font: 'Press Start 2P';
    /* colors */
    --bg-color: #000000;
    --accent-color: #00CC14;
    --btn-hover-text: #00CC14;
    /* background */
    --bg-image: repeating-linear-gradient(to right, #000000 0px 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #007f0c 0px 2px, #004306 2px 4px);
    /* heart */
    --heart-contour: #00CC14;
    --heart-fill: #ff0000;
}

@media (prefers-color-scheme: light) {
    :root {
        /* fonts */
        --main-font: 'Inter-Variable';
        --main-text-weight: 400;
        --main-title-weight: 700;
        --accent-font: 'Press Start 2P';
        /* colors */
        --bg-color: #FFFFFF;
        --accent-color: #000000;
        --btn-hover-text: #FFFFFF;
        /* background */
        --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #e7e7e7 0px 2px, #1a1a1a 2px 4px);
        /* heart */
        --heart-contour: #000000;
        --heart-fill: #ff0000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* fonts */
        --main-font: 'Inter-Variable';
        --main-text-weight: 465;
        --main-title-weight: 785;
        --accent-font: 'Press Start 2P';
        /* colors */
        --bg-color: #000000;
        --accent-color: #00CC14;
        --btn-hover-text: #00CC14;
        /* background */
        --bg-image: repeating-linear-gradient(to right, #000000 0px 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #007f0c 0px 2px, #004306 2px 4px);
        /* heart */
        --heart-contour: #00CC14;
        --heart-fill: #ff0000;
    }
}
